<div class="body">
    <div class="main">  	
        <input type="checkbox" id="chk" aria-hidden="true">
    
            <div class="signup">
                <!-- <form> -->
                    <label for="chk" aria-hidden="true">Choose One</label>
                    <!-- <input type="text" name="txt" placeholder="User name" required="">
                    <input type="email" name="email" placeholder="Email" required="">
                    <input type="password" name="pswd" placeholder="Password" required=""> -->
                    <button (click)="openModal(modal)" >Mujhe choose karo</button>
                    <button (click)="openModal(modal2)">Nahi nahi mujhe</button>
                <!-- </form> -->
            </div>
    
            <div class="login">
                <!-- <form> -->
                    <label for="chk" aria-hidden="true">Dessert?</label>
                    <!-- <input type="email" name="email" placeholder="Email" required="">
                    <input type="password" name="pswd" placeholder="Password" required=""> -->
                    <button (click)="openModal(modal3)">Hey Simmi is it me?</button>
                    <button (click)="openModal(modal4)">or me?</button>
                    <button (click)="openModal(modal5)">Will you go out on a date with me?</button>
                    <!-- <button>Login</button> -->
                <!-- </form> -->
            </div>
    </div>
</div>

<app-modal #modal [active]="isActive">
  <h1 class="headings">You Chose</h1>
  <p class="headings">Cloves Rooftop Restaurant and cafe</p>
  <button (click)="closeModal(modal)">
    Okay Na!
  </button>
</app-modal>


<app-modal #modal2 [active]="isActive">
  <h1 class="headings">You Chose</h1>
  <p class="headings">Varietea Lounge & Terrace</p>
  <button (click)="closeModal(modal2)">
    Okay Na!
  </button>
</app-modal>

<app-modal #modal3 [active]="isActive">
    <h1 class="headings">You Chose</h1>
    <p class="headings">1 Biscoff cheesecake 2 spoons</p>
    <button (click)="closeModal(modal3)">
      Decided
    </button>
  </app-modal>

  <app-modal #modal4 [active]="isActive">
    <h1 class="headings">You Chose</h1>
    <p class="headings">Ice-Cream at Ice-Cream Library</p>
    <button (click)="closeModal(modal4)">
      Decided
    </button>
  </app-modal>

  <app-modal #modal5 [active]="isActive">
    <h1 class="headings">Right?</h1>
    <button (click)="openModal(modal6)">
      Yes
    </button>
    <button (click)="openModal(modal7)">
      No
    </button>
  </app-modal>

  <app-modal #modal6 [active]="isActive">
    <h1 class="headings">Yippieeeeeeeeeeeee</h1>
    <p class="headings">So Text Me The Answers</p>
    <button (click)="closeModal(modal6)">
      Bye Bye!
    </button>
  </app-modal>

  <app-modal #modal7 [active]="isActive">
    <h1 class="headings">You know na im ziddi cutieeeeeee</h1>
    <p class="headings">Toh hum chal rahe h</p>
    <button (click)="closeModal(modal7)">
      Bye Bye!
    </button>
  </app-modal>